<html>
    <head>
        <link rel="stylesheet" href="admin.css">
        <link rel="icon" type="image/png" href="assets/logo.png">
        <title>Ghost-Client</title>
    </head>
    <body>
        <div class="background">
            <img src="assets/logo.png" alt="ghost-client logo" id="logo">
            <form action="/admin" method="post">
                <input type="text" id="pass-box" name="Password">
                <input type="submit" id="submit-btn" name="Login">
            </form>
        </div>
    </body>
</html>
